<!DOCTYPE html>
<html lang="en" ng-app="ampTest">
<head>
    <meta charset="UTF-8">
    <title>AMP code test</title>
    <meta name="description" content="Test project for AMP ">
    <meta name="keywords" content="Codetest,Sajan,Suwal">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- OG/Google/twitter meta tags here -->
    <link rel="stylesheet" type="text/css" href="build/site.css">
</head>
<body ng-controller="Controller">

<div id="mainwrapper" class="container">
    <header class="page-header header" role="banner">
        <h1>People Search </h1>
    </header>


    <main>
        <div class=" form-group">
            <input type="text" ng-model="filter" class="form-control amp-filter" id="Filter" placeholder="Search for ..">
        </div>
        </form>
        <!-- list component lists users -->
        <amp-user-list users="users" filter="filter"></amp-user-list>

    </main>


    <footer class="footer" role="contentinfo">
        <div class="container">
            <p class="text-center"> Version 1.0 Created by Sajan M Singh Suwal 03/2016 for AMP</p>
        </div>
    </footer>
</div>

<!-- Load js scripts -->
<script src="bower_components/angular/angular.js"></script>
<script src="data.js"></script>
<script src="app/app.js"></script>
<script src="app/amp-userList/amp-userList.js"></script>
</body>
</html>