@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';




.header {
  color: #1074A3;
}

.footer {
  bottom: 0px;
  background-color: #f5f5f5;
  margin-top: 20px;
  padding: 20px;
  color: darkgray;
  font-size: small;
}

.amp-filter{
  margin-top:15px;
  height:50px;
  font-size:20px;
  letter-spacing: 2px;

}


// load styles for amp-userList component
@import '../app/amp-userList/amp-userList';

