<!-- Template for amp-userList Directive -->
<article class="userlist">
    <div class="card-wrap">
        <!-- card to display individual photo and names -->
        <div class="card" ng-repeat="user in users track by $index">
            <img ng-src="{{pngImg(user.picture)}}" class="img-responsive card-img" alt="Picture of {{user.firstName}}">
            <p>
                <span class="card-name">{{user.firstName}} {{user.lastName}}</span>
                <br>
                <span>{{user.Title}}</span>
            </p>

        </div>
    </div>
    <!-- If no users found, display info -->
    <div ng-if="users.length==0">
        <div class="alert alert-info">
            No users found.
        </div>
    </div>
</article>