/* amp-userlist */

@import "mixins";

.userlist {

  box-sizing: border-box;

  /* Container class for the card flexbox */
  .card-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center; /* Safari */
    justify-content: center;
    margin: 0 auto;
    width: auto;


    /* card style class flexbox */
    .card {
      background: #fff;
      border: 1px solid #f1f1f1;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
      padding: 10px;
      margin: 2% 5%;
      display: flex;
      flex-direction: column;
      min-width: 20%;
      text-align: center;

      .card-img {
        margin: 5px 0;
        align-self: center;
        width: 100%;
        height: auto;
      }

      .card-name {
        font-size: larger;
        color: #1074A3;
      }

    }

    @include cardMediaQueries(990px, 28%);

    @include cardMediaQueries(500px, 40%);

    @include cardMediaQueries(350px, 70%);

  }


}

