/* Mixin for displaying card for different screen sizes */
@mixin cardMediaQueries($maxScreenWidth, $cardWidth)
{
  @media screen and (max-width: $maxScreenWidth) {
    .card {
      margin: 2%;
      width: $cardWidth;

    }

  }

}